<h1>All of the Bands!</h1>
<br>
<% @bands.each do |band| %>
<%= link_to "#{band.name}", band_url(band) %>
<%= button_to "Delete this band", band_url(band), method: :delete%>
<br>
<% end %>

<%= button_to "Create a new band", new_band_url, method: :get%>
